/* Your custom styles */
.form-group {
    margin-bottom: 15px;
  }
  
  .id-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between label and input */
    margin-bottom: 8px; /* Ensures even spacing */
  }
  
.slds-m-top_large {
  padding-top: 20px; /* Spacing around large titles */
  padding-bottom: 10px;
}

.slds-text-heading_small { /* Spacing around small titles */
  padding-bottom: 10px;
}

/* Import Salesforce Lightning Design System */
@import '@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css';

/* Style for the container (slider control) */
.slds-form-element__control {
  position: relative; /* Make the control element a stacking context */
}

/* Reduce radiobuttongroup padding sides */
.slds-radio_faux {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}
